services:
 mysql:
  image: mysql:8.4
  container_name: mysql
  restart: always
  command:
   --lower_case_table_names=1
   --character-set-server=utf8mb4
   --collation-server=utf8mb4_general_ci
   --explicit_defaults_for_timestamp=true
   --mysql-native-password=ON       # 开启支持旧组件
  environment:
   TZ: Asia/Shanghai
   MYSQL_ROOT_PASSWORD: 123456
  ports:
   - 3306:3306
  volumes:
   - /data/mysql/data:/var/lib/mysql
   - ./conf:/etc/mysql/conf.d
