[client]
default-character-set = utf8mb4
#socket = /var/run/mysqld/mysqld.sock

[mysqld]
#socket = /var/run/mysqld/mysqld.sock
#pid-file = /usr/mysql/mysqld.pid

# 时区设置
default-time-zone = '+08:00'

# 服务器标识，用于主从复制
server-id = 1

# 二进制日志设置
log-bin = mysql-bin
binlog_expire_logs_seconds = 2592000
max_binlog_size = 100M
# binlog_format = ROW   # 8.4 默认，未来版本会移除该参数
# 指定需要记录binlog的数据库
binlog-do-db = bin_log_test

# 连接设置
max_connections = 1000
max_connect_errors = 1000
wait_timeout = 86400
interactive_timeout = 86400

# 数据存储目录
#datadir = /opt/mysql/data

# SQL模式设置，去除 'ONLY_FULL_GROUP_BY'
sql_mode = 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'

character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci

# 安全配置
# 完全禁止使用 LOAD DATA INFILE 和 SELECT ... INTO OUTFILE 语句进行文件操作
secure-file-priv= NULL
# 8.4 默认就不允许符号链接
## Disabling symbolic-links is recommended to prevent assorted security risks
# symbolic-links=0

# InnoDB设置（性能优化）
innodb_buffer_pool_size = 1G
# innodb_log_file_size = 256M
innodb_redo_log_capacity = 256M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT

# # 查询缓存设置  # MySQL 依靠改进的 InnoDB Buffer Pool 来处理性能问题
# query_cache_type = 1
# query_cache_size = 128M
# query_cache_limit = 2M

# 其他优化设置
tmp_table_size = 256M
max_heap_table_size = 256M
table_open_cache = 4096
thread_cache_size = 100

# 使用容器部署可忽略
## Custom config should go here
#!includedir /etc/mysql/conf.d/